@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1s6ww0');
  src:  url('../fonts/icomoon.eot?1s6ww0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1s6ww0') format('truetype'),
    url('../fonts/icomoon.woff?1s6ww0') format('woff'),
    url('../fonts/icomoon.svg?1s6ww0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.operacion
{
  border: 1px solid blue;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bolder;
}